.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    box-shadow:  1px 1px 1px 1px #33333310 ;
}

h3{
    font-size: 32px;
    font-weight: bold;
    color: #37474F;
}
.heading{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
}
.input-container{
    display: flex;
    align-items: center;
    width: 450px;
    border-radius: 5px;
    border: 0.3px solid #37474f62;
    height: 60px;
    gap: 10px;
    padding-left: 16px;
}
.input-container input{
    background: transparent;
}

.search{
    border: none;
    outline: none;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
}

.cart-icon, .user-icon {
    cursor: pointer;
}

/* Tablet */
@media (max-width: 768px) {

    h3 {
        font-size: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        margin: 0;
        height: 50px;
        width: 100%;
        flex-direction: row;
        align-items: center;
        box-shadow:  1px 1px 1px 1px #33333310 ;
    }

    .heading{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        gap: 20px;
    }

    .input-container {
        width: 100%;
        height: 40px;
    }
    .input-container input{
        background: transparent;
    }

    .icons {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
    }
}

/* Mobile */
@media (max-width: 480px) {

    h3 {
        display: none;
        font-size: 2px;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        height: 40px;
        width: 100%;
        margin: 0;
        padding: 3px;
        flex-direction: row;
        align-items: center;
        box-shadow:  1px 1px 1px 1px #33333310 ;
    }

    .heading {
        width: 100%;
        margin: 0;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .input-container {
        width: 100%;
        height: 40px;
        border: none;
    }
    .input-container input{
        background: transparent;
    }
    .search{
        display: none;
    }

    .search-icon{
        width: 28px;
        height: 28px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        gap: 10px;
    }
}
