.footers{
    width: 100%;
    height: 379px;
    background-color: #37474F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #faf9f9;
}
.contact-info{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info p{
    font-size: 16px;
}

.shoppu-logo{
    width: 60px;
    height: 60px;
}

ul .li{
    list-style: none;
}
.footer-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.download-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}
.download-buttons{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #F9FAFA;
}
.buttons-for-download{
    border-radius: 3px;
    width: 176px;
    font-size: 14px;
    font-weight: bold;
    height: 59px;
    background-color: #303639;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAFA;
}
.footer ul li a{
    color: #929FA5;
    text-decoration: none;
    font-size: 14px;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer ul li a:hover{
    text-decoration: underline;
    color: #1B6392;
}
.footer .accessories a {
    position: relative;
}

.footer .accessories a::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #F9FAFA;
}
.products-category{
    margin-top: 5px;
    width: 160px;
    height: 25px;
    background-color: #191C1F;
    color: #69F0AE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.line-accessory{
    width: 24px;
    height: 2px;
    background-color: #69F0AE;
}
.accessory{
    display: flex;
    align-items: center;
    color: #F9FAFA;
    height: 40px;
}
.products-category p{ 
    font-size: 14px;
}

.accessory-text{
    font-size: 14px;
}

.copy{
    margin-left: 46%;
    margin-right: 30%;
    margin-bottom: 30px;
    color: #F9FAFA;
}

/* Tablet */
@media (max-width: 768px) {
    .footer {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .footers{
        width: 100%;
    }
    .footer-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .download-app {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .download-buttons {
        margin-bottom: 100px;
    }

    .copy {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .products-category{
        width: 120px;
        font-size: 12px;
    }
}

/* Mobile */
@media (max-width: 480px) {

.footers{
    height: 100%;
    width: 100%;
}

    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    .contact-info p, .footer ul li a, .accessory-text, .products-category p {
        font-size: 12px;
    }
    .logo{
        font-size: 16px;
    }

    .shoppu-logo {
        width: 50px;
        height: 50px;
    }

    .buttons-for-download {
        width: 100px;
        height: 50px;
        font-size: 12px;
    }

    .products-category {
        width: 140px;
        height: 20px;
    }

    .line-accessory {
        width: 20px;
    }

    .copy {
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .contact-info, .category-links, .quick-links, .download-app{
        flex: 1 1 calc(50% - 10px); 
        box-sizing: border-box; 
    }
    .quick-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .download-app h4{
        margin-right: 42px;
    }
    .download-app{
        margin-right: 10px;
    }
    .download-buttons{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        padding-right: 40px;
    }
}