/* Desktop */
.success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .success-container {
    width: 100%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .success-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .success-buttons-1 {
    width: 200px;
    height: 48px;
    gap: 5px;
    padding: 10px 20px;
    background-color: #0C239E;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
  }
  .success-buttons-2 {
    width: 200px;
    height: 48px;
    gap: 5px;
    padding: 10px 20px;
    border: 1px solid #0C239E;
    background-color: #F9FAFA;
    color: #0C239E;
    border-radius: 2px;
    font-size: 14px;
  }
  span{
    cursor: pointer;
  }

  /* Tablet */
@media (max-width: 768px) {

  .success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  h1 {
      font-size: 1.8rem;
  }

  p {
      font-size: 1rem;
      margin-bottom: 30px;
  }

  .success-actions {
      flex-direction: row;
      gap: 15px;
  }

  .success-buttons-1, .success-buttons-2 {
      width: 180px;
      height: 44px;
      font-size: 12px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .success-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  h1 {
      font-size: 1.5rem;
  }

  p {
      font-size: 0.9rem;
      margin-bottom: 20px;
  }

  .success-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

  .success-buttons-1, .success-buttons-2 {
      width: 180px;
      height: 40px;
      font-size: 12px;
  }
}