.filters {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.filters h2 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #191C1F;
}

.filters ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.filters ul li {
    margin-bottom: 10px;
}

.filters input[type="radio"] {
    margin-right: 10px;
}

.filters .price-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters .price-range input {
    width: 45%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filters .price-range input::placeholder {
    color: #999;
}

/* Tablet Styles */
@media (max-width: 768px) {
    .filters {
        width: 40%; 
        display: flex;
        flex-direction: column;
    }

    .filters h2 {
        font-size: 10px; 
    }

    .filters .price-range input {

        height: auto;
        font-size: 10px;
    }
    .price-range{
        width: 70px;
    }
    li{
        font-size: 8px;
    }
}

/* Mobile Styles */
@media (max-width: 480px) {
    .filters {
        width: 40%;
        padding: 15px; 
    }

    .filters h2 {
        font-size: 12px;
    }

    .filters .price-range {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .filters .price-range input {
        width: 100%;
        margin-bottom: 10px; 

    }
}