
.product-listing {
    max-width: 1200px;
    padding: 40px;
    margin-left: 80px;
}

main {
    display: flex;
}

.filters {
    width: 20%;
    margin-right: 20px;
}

.filters h2 {
    margin-top: 0;
}

.filters ul {
    list-style-type: none;
    padding: 0;
}

.filters li {
    margin-bottom: 10px;
}

.filters .price-range input {
    width: 100px;
    margin-right: 5px;
}

.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    width: 200px;
    height: 270px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.subscribe {
    margin-bottom: 20px;
}
p{
    font-size: 14px;
}

h3{
    font-size: 14px;
}
.navigate-line{
    height: 30px;
    width: 96.5%;
    background-color: #F9FAFA;
    display: flex;
    align-items: center;
    padding-left: 40px;
    gap: 15px;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 324px;
    background-color: #1B6392;
}
.subscribe h2{
    font-size: 32px;
    font-weight: bold;
    color: #F9FAFA;
}

.subscribe p{
    font-size: 16px;
    color: #F9FAFA
}
.email-input{
    width: 624px;
    height: 72px;
    background-color: #F9FAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 8px;
}

.email-input input{
    background: transparent;
    width: 200px;
}

.subscribe-button-here{
    width: 160px;
    height: 48px;
    border-radius: 0;
    background-color: #0C239E;
}

/* Tablet Styles */
@media (max-width: 768px) {
    .product-listing {
        padding: 20px;
        margin-left: 20px;
    }

    .filters {
        width: 100%; 
    }

    .product-grid {
        width: 100%; 
        grid-template-columns: repeat(2, 1fr); 
    }

    .email-input {
        max-width: 80%;
        height: auto;
    }
    .navigate-line{
        height: 30px;
        width: 96.5%;
        background-color: #F9FAFA;
        display: flex;
        align-items: center;
        padding-left: 20px;
        gap: 15px;
    }
}

/* Mobile Styles */
@media (max-width: 480px) {
    .product-listing {
        padding: 10px;
        margin-left: 0;
    }


    .product-grid {
        width: 100%; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .subscribe h2 {
        font-size: 24px; 
    }

    .subscribe p {
        font-size: 14px;
    }

    .email-input {
        max-width: 80%; 
        flex-direction: row; 
        height: auto;
        gap: 10px; 
    }

    .email-input input {
        width: 100%; 
    }

    .subscribe-button-here {
        height: 40px;
        width: 100%;
    }
}