.product-card {
    position: relative;
    width: 234px;
    height: 320px;
    padding: 10px;
    right: 25px;
    bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.1s ease;
  }
  .product-card span{
    font-size: 14px;
  }

  .product-img{
    width: 202px;
    height: 172px;
  }

  .product-all{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
  }
  
  .product-card:hover {
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.068);
  }
 
  .product-card img {
    display: block;
    margin: 0 auto;
  }
  
  .product-icon,
  .product-icons {
    display: none;
    position: absolute;
    gap: 10px;
  }
  
  .product-card:hover .product-icon,
  .product-card:hover .product-icons {
    display: flex;
  }
  
  .icon {
    font-size: 1.5em;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .icon:hover {
    color: #007bff;
  }
  
  .product-icon {
    top: 40%;
    right: 30%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }
  
  .product-icons {
    top: 40%;
    right: 50%;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
  }