.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 585px;
    border: 0.2px solid #37474F;
    margin: 0;
    padding-bottom: 0;
    padding-left: 25px;
}
.banner-text{
    width: 600px;
    height: auto;
}

.band-image{
    width: 60px;
    height: 60px;
}

.image-in-band{
    width: 600px;
    height: auto;
}

.band-aid{
    position: absolute;
    left: 80px;
    margin-top: 10px;
}
.bandage-scissors{
    margin-left: 70%;

}
.text-button{
    width: auto;
    height: auto;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
h2{
    font-size: 48px;
    font-weight: bold;
}
button{
    width: 300px;
    height: 80px;
    border-radius: 20px;
    background-color: #37474F;
    color: #F9FAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  1px 1px 1px 1px #33333310 ;
    border: none;
}
.button-shop{
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Tablet */
@media (max-width: 768px) {
    .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 400px;
        border: 0.5px solid #37474F;
        margin: 0;
        padding: 0;
    }

    .banner-text{
        width: 400px;
        height: auto;
    }

    .band-image{
        width: 40px;
        height: 40px;
    }
    
    .image-in-band{
        width: 400px;
        height: 400px;
    }
    
    .band-aid{
        position: absolute;
        left: 40px;
    }

    .bandage-scissors{
        margin-left: 60%;
    }
    .text-button{
        margin-left: 10px;
        margin-top: 70px;
        margin-bottom: 50px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .text-button h2{
        font-size: 28px;
        font-weight: bold;
    }
    button{
        width: 200px;
        height: 50px;
        border-radius: 20px;
        background-color: #37474F;
        color: #F9FAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:  1px 1px 1px 1px #33333310 ;
        border: none;
        margin-left: 20px;
    }
    .button-shop{
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 500px;
        border: 0.5px solid #37474F;
        margin: 0;
        padding: 0;
    }

    .banner-text{
        width: 100%;
        height: 260px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .band-image{
        width: 20px;
        height: 20px;
    }
    
    .image-in-band{
        width: 100%;
        height: 250px;
    }
    
    .band-aid{
        position: absolute;
        left: 30px;
        top: 6%;
    }

    .bandage-scissors{
        margin-left: 60%;
    }
    .text-button{
        width: auto;
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 8px;

    }
    .banner-text h2{
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
        padding-top: 5px;
    }
    button{
        width: 150px;
        height: 60px;
        border-radius: 10px;
        background-color: #37474F;
        color: #F9FAFA;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow:  1px 1px 1px 1px #33333310 ;
        border: none;
    }
    .button-shop{
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

